<%- include('../header') %>
<main>
  <h1>
    <%= pageTitle %>
  </h1>

  <form action="/brands/add" method="post" class="form">
    <% if (typeof errors !== 'undefined' && errors.length) { %>
    <%- include('../errors', { errors }) %>
    <% } %>

    <div class="form__field">
      <label for="name" class="form__label">
        Name
      </label>

      <input type="text" name="name" id="name" required>
    </div>

    <button type="submit">
      Add
    </button>
  </form>
</main>
<%- include('../footer') %>
