<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> </title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <header class="header">
    <a href="/" class="header__item header__link">
      Home
    </a>

    <% if (typeof req !== 'undefined' && req.user) { %>
    <span class="header__item">
      You are signed in as <strong><%= req.user.fullName %></strong>
      <form action="/logout" method="post" novalidate style="display: inline-block;">
        <button type="submit">
          Logout
        </button>
      </form>
    </span>

    <a href="/categories/add" class="header__item header__link">
      Add category
    </a>

    <a href="/brands/add" class="header__item header__link">
      Add brand
    </a>

    <a href="/products/add" class="header__item header__link">
      Add product
    </a>
    <% } else { %>
    <a href="/sign-in" class="header__item header__link">
      Sign In
    </a>

    <a href="/sign-up" class="header__item header__link">
      Sign Up
    </a>
    <% } %>
  </header>
