<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> </title>

  <style>
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
    }

    .form .form__field {
      margin-bottom: .5rem;
    }

    .form .form__label {
      font-weight: bold;
      margin-right: .25rem;
    }

    .header .header__item:not(:last-child) {
      margin-right: .5rem;
    }

    .header .header__link {
      font-weight: bold;
    }

    .product-list {
      list-style: none;
    }

    .product-list .product-list__item:not(:last-child) {
      margin-bottom: 2rem;
    }

    .product-item .product-item__header {
      display: flex;
      align-items: baseline;
    }

    .product-item .product-item__name {
      font-size: 1.5rem;
      margin: 0 .5rem 0 0;
    }

    .product-item .product-item__body-item {
      margin: .3rem 0;
    }

  </style>
</head>

<body>
  <header class="header">
    <a href="/" class="header__item header__link">
      Home
    </a>

    <% if (typeof req !== 'undefined' && req.user) { %>
    <span class="header__item">
      You are signed in as <strong><%= req.user.fullName %></strong>
      <form action="/logout" method="post" novalidate style="display: inline-block;">
        <button type="submit">
          Logout
        </button>
      </form>
    </span>

    <a href="/categories/add" class="header__item header__link">
      Add category
    </a>

    <a href="/brands/add" class="header__item header__link">
      Add brand
    </a>

    <a href="/products/add" class="header__item header__link">
      Add product
    </a>
    <% } else { %>
    <a href="/sign-in" class="header__item header__link">
      Sign In
    </a>

    <a href="/sign-up" class="header__item header__link">
      Sign Up
    </a>
    <% } %>
  </header>
