<%- include('../header') %>
<main>
  <h1>
    Sign In
  </h1>

  <form action="/sign-in" method="post" class="form">
    <% if (typeof errors !== 'undefined' && errors.length) { %>
    <%- include('../errors', { errors }) %>
    <% } %>

    <div class="form__field">
      <label for="email">
        Email
      </label>

      <input type="email" name="email" id="email" required>
    </div>

    <div class="form__field">
      <label for="password">
        Password
      </label>

      <input type="password" name="password" id="password" required>
    </div>

    <button type="submit">
      Sign In
    </button>
  </form>
</main>

<%- include('../footer') %>
