body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.form .form__field {
  margin-bottom: .5rem;
}

.form .form__label {
  font-weight: bold;
  margin-right: .25rem;
}

.form .form__inline-fields {
  display: flex;
}

.form .form__inline-fields .form__field:not(:last-child) {
  margin-right: 1rem;
}

.header .header__item:not(:last-child) {
  margin-right: .5rem;
}

.header .header__link {
  font-weight: bold;
}

.product-list {
  list-style: none;
}

.product-list .product-list__item:not(:last-child) {
  margin-bottom: 2rem;
}

.product-item .product-item__header {
  display: flex;
  align-items: baseline;
}

.product-item .product-item__name {
  font-size: 1.5rem;
  margin: 0 .5rem 0 0;
}

.product-item .product-item__body-item {
  margin: .3rem 0;
}

.detail-heading {
  display: flex;
  align-items: baseline;
}

.detail-heading .detail-heading__item:not(:last-child) {
  margin-right: 1rem;
}
